#Force Pip to download the CPU-only version of PyTorch 
--extra-index-url https://download.pytorch.org/whl/cpu

#Core AI Libraries
torch
torchvision
ultralytics

#Web Server & API
fastapi
uvicorn
pydantic
python-multipart

#Image Processing
opencv-python-headless
Pillow
numpy
requests==2.31.0
